<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
                Subscribe <a class="u-email" href="mailto:{{ site.email }}?subject=Lime %26 Coconut Subscription Request&body=Hi! %0D%0A%0D%0AI'd like them Limes and Coconuts, please! %0D%0A%0D%0AThank you.">here</a> to be notified when new posts arrive!
            </li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>

        <div class="footer-col footer-col-3">
            <img class="dev-logo" src="/assets/images/DevHarbor-logo.png" title="Site developed in association with Dev Harbor" alt="Dev Harbor">
        </div>
      </div>
  
    </div>
  
  </footer>