---
---

@import "minima";
 
$primary: #75bd4b;
$primary-lighter: #88d453;
$primary-darker: #599537;

body{
  font-family: 'Helvetica', 'Arial', Sans-Serif !important;
}

// **************
// FEATURED POST
// **************
.featured-post{
  position: relative;
  color: white;

  .post-thumbnail{
    width: 100%;
    filter: brightness(50%);
  } 

  .content{
    position: absolute;
    bottom: -webkit-calc(#{$spacing-unit});
    bottom:         calc(#{$spacing-unit});
    left: -webkit-calc(#{$spacing-unit});
    left:         calc(#{$spacing-unit});

    a {
      color: white !important;
    }
  }

  .post-link {
    font-size: 27px;
    font-weight: bold;
    color: white;
  }

  .post-meta{
    color: white;
    opacity: 0.7;
  }

  @media screen and (max-width: $on-palm){
    .content{
      bottom: -webkit-calc(#{$spacing-unit} / 2);
      bottom:         calc(#{$spacing-unit} / 2);
      left: -webkit-calc(#{$spacing-unit} / 2);
      left:         calc(#{$spacing-unit} / 2);
    }
    h3{
      margin-bottom: 5px;
    }
    .category{
      font-size: 13px;
    }
    .post-link {
      font-size: 25px;
    }
    .post-meta{
      font-size: 12px;
    }
  }
}

// **************
// REGULAR POST
// **************
.regular-post{
  width: 100%;
  display: flex;
  clear: both;
  float: left;
  margin-bottom: calc(#{$spacing-unit} / 2);
  border-top: 1px solid #e7e7e8;

  .thumbnail-wrap{
    float:left; 
    max-width: 40%; 
    padding-right: 15px;
    position: relative;

    .post-thumbnail{
      width: 100%;
    }
    .category{
      position: absolute;
      top: 15px;
      left: -3px;
      font-size: 11px;
      padding: 5px 10px;
      background: #75bd4b;
      color: #fff;
      font-weight: bold;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
  }

  .details-wrap{
    float: left;
    padding-top: calc(#{$spacing-unit} / 2);

    .post-link {
      font-weight: bold;
      line-height: 1.2;
      color: #111 !important;
    }
  
    .post-excerpt{
      font-size: 13px; 
      color: #828282; 
      margin-top: -10px;
      display: block;
    }
  }

  @media screen and (max-width: $on-palm){
    .details-wrap{
      padding-top: calc(#{$spacing-unit} / 4);

      .post-link {
        font-size: 18px;
      }
      .post-excerpt{
        display: none;
      }
      .post-meta{
        font-size: 12px;
      }
    }
  }
}

// **************
// GLOBAL
// **************
.site-title {
  // font-family: 'Bungee Outline', cursive;
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Lobster', cursive;
  // font-family: 'Amatic SC', cursive;
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Caveat', cursive;
  // font-family: 'Concert One', cursive;
  // font-family: 'Major Mono Display', monospace;
  // font-family: 'Gloria Hallelujah', cursive;
  // font-family: 'Covered By Your Grace', cursive;
  // font-family: 'Mali', cursive;
  // font-family: 'Chewy', cursive;
  // font-family: 'Cabin Sketch', cursive;
  // font-family: 'Reenie Beanie', cursive;
  // font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Bungee Shade';
  // font-family: 'Londrina Shadow', cursive;

  &, &:visited {
    color: $primary-darker;
  }

  &:hover{
    color: $primary;
    text-decoration: none;
  }
}

.page-hero {
  position: relative;

  .hero-credit {
    position: absolute;
    font-size: 9px;
    bottom: 0;
    left: 5px;
    color: #fff;
  }
}

.post{
  .post-header {
    margin-bottom: 60px;

    .post-title{
      font-weight: bold;
    }

    .post-excerpt{
      color: #828282;
      font-style: italic;
      font-weight: 400;
    }
  }
}

figcaption {
  color: #828282;
}

drop-cap{
  font-style: normal;
  font-weight: 700;
  font-size: 5em;
  color: $primary-darker;
  float: left;
  line-height: 1;
  margin: 0 0.1em 0 0;
  position: relative;
  text-indent: 0;
}

@media screen and (min-width: $on-laptop){
  .aside-quote {
    float: right;
    padding-left: 50px;
    width: 45%;
  }
}

.aside-quote {
  margin: 50px 0;

  q {
    font-family: "Heroic",Arial Narrow,Helvetica,sans-serif;
    display: block;
    padding-top: 20px;
    padding-right: 20px;
    position: relative;
    line-height: 1.1;
    font-style: italic;
    font-weight: 600;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-size: 30px;
    color: $primary;
        
    &::before{
      content: "";
    }
    &::after{
      background: #599537;
      content: "";
      height: 10px;
      position: absolute;
      right: 17px;
      top: 0px;
      left: 0;
      z-index: 1;
      border-radius: 50px;
    }
  }
}

.post-content{
  p{
    margin-bottom: $spacing-unit;
  }

  color: #424242;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

.site-nav {
  border: none;

  .page-link {
    color: $primary;
  }

  .menu-icon > svg{
    fill: $primary-darker;
  }
  
  @media screen and (max-width: $on-palm){
    .trigger{
      padding-top: 5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}

a {
  color: $primary;

  &:visited{
    color: $primary-darker;

    &:hover{
      color: $primary;
    }
  }

  &:hover{
    color: $primary-lighter;
  }
}

.dev-logo{
  opacity: 0.6;
  max-width: 50px;
}

// **************
// FOOTER
// **************
.footer-col-1 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2 ));
  width:         calc(60% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
  width: -webkit-calc(10% - (#{$spacing-unit} / 2));
  width:         calc(10% - (#{$spacing-unit} / 2));
}


@media screen and (max-width: $on-palm){
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
