<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    {%- if page.hero -%}
    <div class="page-hero">
        <img src="{{page.hero}}" alt="Hero">

        {%- if page.hero-credit -%}
          <span class="hero-credit">{{page.hero-credit}}</span>
        {%- endif -%}
    </div>
    {%- endif -%}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>